!!!
%h1 Test using js-provided token
%ul
  %li
    url:
    = @request.url
  %li
    ip:
    = @request.ip
  %li
    secret:
    = @settings.secret
  %li
    seed:
    = @authenticator.seed
%form{ :method => 'post', :'data-postalist' => '' }
  %ul
    %li
      %label Name:
      %input{ :type => 'text', :name => 'Name', :value => 'Jonathan Camenisch' }
    %li
      %label Email:
      %input{ :type => 'text', :name => 'Email', :value => 'jonathan@camenisch.net' }
  %button{ :type => 'submit' }
    Post It.
:javascript
  (function(d) {
    var s = d.createElement('script'), s2 = d.getElementsByTagName('script')[0];
    s.src = '/token/' + Date.now() + '.js';
    s2.parentNode.insertBefore(s, s2);
  })(document);
