!!!
%form{ :method => 'post', :action => '/test' }
  %input{ :type => 'hidden', :name => 'token', :value => token }
  %ul
    %li
      %label Name:
      %input{ :type => 'text', :name => 'Name', :value => 'Jonathan Camenisch' }
    %li
      %label Email:
      %input{ :type => 'text', :name => 'Email', :value => 'jonathan@camenisch.net' }
  %button{ :type => 'submit' }
    Post It.